/* 
Developed by Leah Scheide for the UW KnowledgeBase at the University of Wisconsin-Madison 
*/

/* basic styles */

div#tree-container {background: #efefef; margin: 10px; padding: 15px; border: 1px solid #ccc;} 
ul#tree, #tree ul {list-style-type:none;} 
ul#tree {background: #fff; margin:0; padding: 0;} 
#tree li {padding-top:20px;} 
#tree li:first-child {padding-left: 15px; font-weight:bold;} 
ul#tree li:last-child {padding-bottom:20px} 
#tree input {margin-right:8px; margin-left: 20px;} 

/* hides lists */
.choices-collapsed {display:none;} 

/* styles selected choices */
ul#tree li.choice-selected {font-style:italic; background: #fff; padding-bottom:0px;} 

/* styles subquestion of selected choice */
.choice-selected ul {  
  background: #efefef;  
  font-style:normal; 
  margin-top:20px; 
  padding-top:10px; 
} 

.choice-selected ul li {background: #fff; margin-left:-40px;} 

/* styles answers at termination of branch */
#tree li.answer {border: 2px solid black; padding:20px; background:#fff; font-weight:normal;}

li.answer > ul.choices-collapsed {
    display: block;
    list-style-type: disc !important;
    background: none;
    margin-top: auto;
    padding-top: 0;
}

li.answer li:first-child {
    padding-left: 0 !important;
    font-weight: normal !important;
}
li.answer li {
    padding-top: 10px !important;
    margin-left: 0;
}
li.answer li:last-child {
    padding-bottom: 10px !important;
}

/* styles back and reset buttons */
.treeControls {margin-top: 20px;} 

/* used for optional seeinfo popups */
a.seeinfo {background: url('question-mark.png') center center/15px 15px no-repeat;}
a.seeinfo {
    display: inline-block;
    overflow: hidden;
    width: 0;
    height: 15px;
    padding-left: 20px;
}
div.moreinfo {display:none;}
a.seeinfo:hover + div.moreinfo {
display: inline-block;
position: absolute;
width: 300px;
font-size: .9em;
font-weight: normal;
background-color: #efefef;
padding: 20px;
z-index: 100;
box-shadow: 5px 5px 8px #555;
border-radius: 10px;
border: 1px solid #bbb;
}
