---
---

@import "{{ site.theme }}";

.page-header {
  padding: 3rem 6rem;
  background-color: #042eab;
  background-image: linear-gradient(120deg, #042eab, #000000);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: #042eab;
}
