---
---

@import "{{ site.theme }}";

.page-header {
  padding: 1.5rem 1rem 1.5rem 1rem;
  background-color: #042eab;
  background-image: linear-gradient(120deg, #042eab, #000000);
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  color: #042eab;
}

.project-name:before {
  display: inline-block;
  width: 70px;
  height: 31px;
  content: "";
  background-image: url(../svg/SAXO_be_invested_neg_logo_rgb.svg);
  margin-right: 1rem;
}

.project-name {
  font-size: 2.25rem;
}

body {
  font-family: "Lucida Sans Unicode", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.action-button {
  background-color: white;
  border-color: #0000002e;
  border-style: solid;
  border-width: 2px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.action-button:hover {
  background-color: #042eab1c;
}

.main-content {
  max-width: 68rem !important;
}

.main-content label {
  display: inline-block;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  width: 100%;
}

.main-content .highlight label {
  display: inline;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  width: 100%;
}

.token-field {
  width: 80%;
  font-family: monospace;
}

textarea {
  width: 100%;
}

.warning {
  border: 1px solid rgb(204, 82, 0);
  background-color: rgb(255, 207, 207);
  padding: 10px 25px 10px 25px;
}

.note {
  border: 1px solid rgb(202, 176, 91);
  background-color: rgb(251, 251, 251);
  padding: 10px 25px 10px 25px;
}