span.instrumentName {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
	width: 400px;
}

span.price {
    display: inline-block;
	width: 80px;
    text-align: right;
}

span.dateTime {
    display: inline-block;
	width: 200px;
    text-align: right;
}
